body
{
	margin: 0px 8px 0px 8px;
	background-color: #E4E4E4;
	font-family: arial, sans-serif;
	font-size: 11pt;
}

div.body
{
	width: 1200px;
	margin: 0px auto 0px auto;
	background-color: white;
}

p
{
	line-height: 18px;
	margin-top: 15px;
	margin-bottom: 15px;
}

a
{
	color: #38F;
}

h1
{
	margin: 0px 0px 0px 96px;
	position: absolute;
	left: 16px;
	bottom: 16px;
	color: white;
	font-family: tahoma;
	font-size: 56px;
	font-weight: bold;
}

h1 a
{
	text-decoration: none;
	color: inherit;
}

h1 a:hover
{
	text-decoration: none;
	color: inherit;
}

h2
{
	font-size: 24pt;
	font-weight: bold;
	color: #222;
	margin-top: 24px;
	margin-bottom: 16px;
	text-shadow: 0px 1px 2px #888;
}

h3
{
	font-size: 16pt;
	font-weight: bold;
	color: #555;
	margin-top: 24px;
	margin-bottom: 12px;
	text-shadow: 0px 1px 2px #AAA;
}

h3 a
{
	text-decoration: none;
	color: #35A;
}

img
{
	border: 0px;
}

li
{
	margin-bottom: 6px;
}

table
{
	border-spacing: 0px;
}

td
{
	padding: 0px;
	vertical-align: top;
}

div.navbar
{
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-weight: bold;
	width: 1200px;
	height: 32px;
	position: relative;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	margin-left: auto;
	margin-right: auto;
	background-color: #555;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#777));
	background: -webkit-linear-gradient(top, #333, #777);
	background: -moz-linear-gradient(top, #333, #777);
	background: -o-linear-gradient(top, #333, #777);
	background: -ms-linear-gradient(top, #333, #777);
	background: linear-gradient(to bottom, #333, #777);
}

td.menu
{
	position: relative;
}

td.menu:hover
{
	background-color: #6A4;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#253), to(#AF5));
	background: -webkit-linear-gradient(top, #253, #AF5);
	background: -moz-linear-gradient(top, #253, #AF5);
	background: -o-linear-gradient(top, #253, #AF5);
	background: -ms-linear-gradient(top, #253, #AF5);
	background: linear-gradient(to bottom, #253, #AF5);
}

td.menu table
{
	display: none;
	z-index: 1;
	position: absolute;
	top: 32px;
}

td.menu:hover table
{
	display: block;
}

td.menu a
{
	width: 200px;
	height: 32px;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: inherit;
}

td.menu td
{
	border-bottom: solid 1px #222;
	background-color: #666;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#777));
	background: -webkit-linear-gradient(top, #555, #777);
	background: -moz-linear-gradient(top, #555, #777);
	background: -o-linear-gradient(top, #555, #777);
	background: -ms-linear-gradient(top, #555, #777);
	background: linear-gradient(to bottom, #555, #777);
}

td.menu td:hover
{
	background-color: #AAA;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#CCC));
	background: -webkit-linear-gradient(top, #888, #CCC);
	background: -moz-linear-gradient(top, #888, #CCC);
	background: -o-linear-gradient(top, #888, #CCC);
	background: -ms-linear-gradient(top, #888, #CCC);
	background: linear-gradient(to bottom, #888, #CCC);
}

td.menu td a
{
	width: 200px;
	height: 32px;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: inherit;
}

table.footer td
{
	font-size: 8pt;
	padding-right: 20px;
	padding-bottom: 8px;
	vertical-align: middle;
}

div.content
{
	padding: 8px 16px 8px 16px;
	line-height: 20px;
}

div.content a
{
	color: #A00000;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

td.content
{
	padding: 12px;
	font-size: 9pt;
}

p.category
{
	margin: 10px 0px 0px 34px;
	font-size: 24pt;
	color: #444;
}

div.apinav
{
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 40px;
}

code
{
	font-family: Consolas, 'Courier New', monospace;
	font-size: 11pt;
}

sup
{
	font-size: 6pt;
}

sub
{
	font-size: 6pt;
}

div.file
{
	margin-top: 6px;
	margin-bottom: 20px;
}

div.heading
{
	width: 288px;
	border-bottom: solid 2px #AAA;
	text-align: left;
	font-size: 14pt;
	font-weight: bold;
	line-height: normal;
	text-shadow: 0px 1px 2px #BBB;
	margin-top: 40px;
	margin-bottom: 16px;
}

div.notebox
{
	border: solid 1px #444;
	background-color: #FFFFCC;
	box-shadow: 0px 2px 3px 1px #AAA;
	margin: 24px 64px 24px 64px;
	padding: 8px;
}

div.sourcebox
{
	border: solid 1px #444;
	background-color: #EEF8EE;
	box-shadow: 0px 2px 3px 1px #AAA;
	margin: 24px 64px 24px 64px;
	padding: 8px;
	font-family: Consolas, 'Courier New', monospace;
	font-size: 11pt;
}

div.tree
{
	font-family: arial;
	font-size: 10pt;
	padding-top: 12px;
}

td.table
{
	background-color: #CCCCCC;
	vertical-align: baseline;
}

td.tableleft1
{
	font-size: 10pt;
	width: 128px;
	background-color: #E4E4E4;
	vertical-align: baseline;
	padding: 2px 8px 2px 8px;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
}

td.tableright1
{
	font-size: 10pt;
	background-color: #F8F8F8;
	vertical-align: baseline;
	padding: 2px 8px 2px 16px;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
}

td.tableleft
{
	font-size: 10pt;
	background-color: #E4E4E4;
	vertical-align: baseline;
	padding: 2px 8px 2px 8px;
	border-bottom: solid 1px #888888;
}

td.tableright
{
	font-size: 10pt;
	background-color: #F8F8F8;
	vertical-align: baseline;
	padding: 2px 8px 2px 16px;
	border-bottom: solid 1px #888888;
}

td.divider
{
	font-size: 6pt;
}

table.map
{
	background-color: #E4E4E4;
	border-top: solid 1px #808080;
	border-left: solid 1px #808080;
}

td.layer
{
	border-bottom: solid 1px #808080;
	border-right: solid 1px #808080;
	vertical-align: top;
	padding: 0px 16px 0px 16px;
}
